.App {
  height: 100vh;
  display: flex;
  color: white;
}





@media screen and (min-width: 601px) {
  .App__Aside {
    width: 30%;
    font-size: 1vw;
    background-color: #306639c0;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .App__Aside {
    width: 30%;
    font-size: 2.5vw;
    background-color: #306639c0;
  }
}

.App__Aside__Hidden {
  display: hidden;
}

.MenuBar {
  background-color: #306639c0;
}

.App__Aside__BG{
    opacity: 0.9;
    max-width:70% !important;
    height:auto;
    position:relative;
    top:50%;
    left:50%;
    margin-left: -35%;
    margin-top: -15%;
}


.GridsBg {
  background-color: #649764;
  color: #649764;
}


.App__Aside__Delphus{
    opacity: 0.9;
    max-width:60% !important;
    height:auto;
    position:relative;
    top:50%;
    left:50%;
    margin-left: -30%;
    margin-top: -15%;
}

.App__Form {
  width: 100%;
  background-color: rgb(48, 76, 85);
  padding: 5% 5% 5% 5%;
  overflow: auto;
  

}


.App__Form__Full {
  width: 100%;
  /* height: 100%; */
  background-color: rgb(48, 76, 85);
  padding: 5% 5% 5% 5%;
  position: absolute;
  overflow: auto;
  height: 100vh;

}

.App__Form__BG {
    width: 90%;
    height: 100%;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 0%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1
}



.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: rgb(72, 95, 104);
  color: rgba(255, 255, 255, 0.555);
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #649764;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  height: 100px
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
  text-decoration: none;
  display: inline-block;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  /* margin-top: 60%; */
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #649764;
}

.App__Title{
    opacity: 0.9;
    max-width:70% !important;
    height:auto;
    position:absolute;
    left: 50%;
}



.FormField {
  margin-bottom: 5%;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 80%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #649764;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}


.FormField__Button__Bar {
  background-color:transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 100px;
  width:50px;
  height:50px;
  position: absolute;
  bottom: 5%; 
  right: 5%;
}



.FormField__MenuButton {
  background-color: #649764;
  color: white;
  border: none;
  outline: none;
  position: relative;
  margin-left: -20%;
  left: 50%;
  margin-top: 10%;
  border-radius: 25px; 
  padding: 15px 70px;
  font-size: .9em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #649764;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #79bb79;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

